.PlaceHolderEmptyResults {
  font-family: var(--font);
  font-size: 3rem;
  margin-top: 2rem;
  color: rgb(165, 163, 163);
}

.PlaceholderTM {
  font-size: 10em;
  color: #eee;
  margin-top: 2rem;
  font-family: var(--font);
}

