/* Variables for convenient reference */
:root {
  --orange: #FF851b;
  --teal: #39CCCC;
  --black: #111;
  --font: "Roboto", "Helvetica", "Arial", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: var(--font);
}

/* body {
  min-height: 100%;
} */

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


