/* Variables */
:root {
  --orange: #FF851b;
  --teal: #39CCCC;
  --black: #111;
  --font: arial, sans-serif;
}


/* Home styles */

.Home-header {
  background-color: var(--orange);
  padding: 20px;
  text-align: center;
}

/* Header styles */

.Home-header h1 {
  font-family: var(--font);
  color: white;
  letter-spacing: 0.1em;
}