.Home {
  text-align: center;
  flex-grow: 1;
}

.LoadingState {
  margin-top: 2em;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ShareContainer {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 80%;
  margin-top: 10px;
}